body {
    background-color: aliceblue;
    background-image: url("bg1.jpg");
}
 
.panel {
    border-radius: 8px;
    border-width: 2px;
    margin-top: 8%;
    width: 500px;
    height: 400px;
    margin-left: 36%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: navy;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
.question {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
 
.opt{
    font-size: 30px;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    top: 40%;
    left: 40%;
}

label{
font-weight: bolder;
margin-top: 2px;
margin-bottom: 2px;
font-size: 25px;
 }
input{
margin-bottom: 20px;
}

button {
    width: 400px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4f98c2;
    color: white;
    border: none;
    cursor: pointer;
}
 
#score {
    font-size: 50px;
    font-weight: bold;
    color: darkslategray;

}

